.DS_Store
.eslintcache

node_modules/
/out/
/cache/
/dev/watch/*.js
/dev/watch/*.js.map
tsconfig.tsbuildinfo

/config/*.js
/config/*.js.map
/config/config.ts
/dev/watch/config.ts
/src/**/*.js
/src/**/*.js.map

/data
/static/errors/

/reboot.sh

/src/common/data/content.js
/src/server/scripts/local/
